.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
key.properties
local.properties
.dart_tool/
.flutter-plugins-dependencies
.gradle
ios/Flutter/flutter_export_environment.sh